<style>
  :root {
    --colors__primary: #ad1457;
    --colors__highlight: #c6ff00;
    --colors__dark: #212121;
    --colors__light: #ffffff;
    --site__header-height: 48px;
    --site__footer-height: 48px;
    --content-width: 800px;
    font-family: 'Saira Semi Condensed', sans-serif;
    font-size: 20px;
    color: #212121;
  }

  body, html {
    margin: 0;
    padding: 0;
  }

  input, textarea, select, button {
    font-size: 1em;
  }

  h1,h2,h3 {
    font-family: 'Lato', sans-serif;
  }

  a {
    text-decoration: none;
    color: rgba(33,33,33,.83);
    font-weight: 700;
  }

  a:hover {
    color: var(--colors__primary);
  }

  .container {
    margin: 0 auto;
    width: var(--content-width, 800px);
    max-width: 100vw;
  }

  .site {
    min-height: 100vh;
    display: grid;
    grid-template-rows: fit-content(100%) 1fr fit-content(100%);
    grid-template-areas:
      "header"
      "router"
      "footer";
  }

  .site__header {
    grid-area: header;
  }

  .site__footer {
    grid-area: footer;
  }

  .site__router {
    grid-area: router;
  }
</style>
