<style>
  :root {
    --colors__primary: #ad1457;
    --colors__highlight: #c6ff00;
    --colors__dark: #212121;
    --colors__light: #ffffff;
    --site__header-height: 48px;
    --site__footer-height: 48px;
    --content-width: 800px;
    --color-light: #ffffff;
    --color-dark: #212121;
    --color-highlight: red;
    --color-fate: var(--color-highlight);
    --color-shroud: var(--color-dark);

    --grid-header-height: 72px;
    --grid-footer-height: 64px;
    --grid-content-width: 600px;
    --grid-row-gap: 16px;
    --grid-columm-gap: 16px;
    --grid-template-columns: [full-start] 1fr [content-start] minmax(auto, var(--grid-content-width)) [content-end] 1fr [full-end];
    --grid-template-rows: [full-start header-start] minmax(var(--grid-header-height),max-content) [header-end content-start] 1fr [footer-start] minmax(var(--grid-footer-height),max-content) [footer-end content-end full-end]
    font-family: 'Saira Semi Condensed', sans-serif;
    font-size: 20px;
    color: #212121;
  }

  * {
    box-sizing: border-box;
  }


  body, html {
    margin: 0;
    padding: 0;
  }

  input, textarea, select, button {
    font-size: 1em;
  }

  h1,h2,h3 {
    font-family: 'Lato', sans-serif;
  }

  a {
    text-decoration: none;
    color: rgba(33,33,33,.83);
    font-weight: 700;
  }

  a:hover {
    color: var(--colors__primary);
  }

  .site {

  }

  .site__header {
  }

  .site__footer {
  }

  .site__router {
    display: contents;
  }

  .grid  {
    display: grid;
    min-height: 100vh;
    grid-template-columns: var(--grid-template-columns);
    grid-template-rows: var(--grid-template-rows);
    grid-row-gap: var(--grid-row-gap);
    grid-column-gap: var(--grid-columm-gap);
  }

  .grid .grid__full {
    grid-column: full;
    grid-row: full;
  }

  .grid .grid__header {
    grid-column: content;
    grid-row: header;
  }

  .grid .grid__header-background {
    grid-column: full;
    grid-row: header;
  }

  .grid .grid__content {
    grid-column: content;
    grid-row: content;
  }

  .grid .grid__footer {
    grid-column: content;
    grid-row: footer;
  }

  .grid .grid__footer-background {
    grid-column: full;
    grid-row: footer;
  }
</style>
